<h1>Task 1:</h1>
<button class="loadUsers" (click)="loadUsers()">Load Users</button>
<p *ngIf="loading">users loading..</p>
<div>
  <p *ngIf="userNameShow">Users: {{ userNames }}</p>
  <div *ngFor="let card of users">
    <div class="card" [ngClass]="card.status" *ngIf="show">
      <h2>{{ card.firstName }} {{ card.lastName }}</h2>
      <p>{{ card.about }}</p>
      <p>{{ card.birthDate | age }} years old</p>
      <button class="status">{{ card.status }}</button>
    </div>
  </div>
</div>

<h1>Task 2:</h1>
<div class="horizontal" *ngFor="let i of [0,1, 2, 3, 4, 5, 6 ]">
  <div class="vertical" *ngFor="let j of [0,1, 2, 3, 4, 5, 6]">
    <div
      class="box"
      [ngClass]="{'selected':selected[i][j]}"
      (mouseenter)="select(i,j)">
  </div>
</div>
