h1 {
  font-size: 48px;
}
.loadUsers {
  margin-left: 200px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
}
.status {
  width: 100px;
  background-color: white;

  border: none;
  opacity: 0.4;
}
.deleted {
  background-color: red;
}
.active {
  background-color: green;
}
.inactive {
  background-color: blue;
}
.card {
  font-size: 18px;
  margin-left: 320px;
  margin-top: 20px;
  height: 250px;
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  padding: 0px 40px;
  color: white;
  border-radius: 8px;
}

.box {
  width: 40px;
  height: 40px;
background-color: red;
}
.vertical {
  display: flex;
  flex-direction: column;

  .box {
    margin-top: 5px;
  }
}
.horizontal {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.selected {
  background-color: blue;
}